<h1>The Beer Data Collector, version 1</h1>
<p>Attempt one for domination of beer data science.</p>


<%= link_to "Ratings", ratings_path(@ratings) %>
<%= link_to "Beers", beers_path(@beers) %>
<%= link_to "Breweries", breweries_path(@breweries) %>
