<h1>The Beer Data Collector, version 1</h1>
<p>Attempt one for domination of beer data science.</p>

<svg width="60" height="85"> 

<rect x="5" y="10" width="50" height="75" fill="yellow" stroke="orange" stroke-width="5"/>
<rect x="5" y="0" width="50" height="20" fill="white"/>
</svg>

<br>

    <script type="text/javascript">
     //my beautiful d3 code will go here!
     // giving it a go
     // try to read in json
     d3.json("ratings.json", function(error, json) {
       console.log(json);
     // set width and height
     var w = 500;
     var h = 500;
     if (error) return console.warn(error);
     data = json;
     // create the SVG element
     var svg = d3.select("body")
                 .append("svg")
                 .attr("width", w)
                 .attr("height", h);
     var padding = 20;
     var xScale = d3.scale.linear()
                    .domain([0,6])
                    .range([padding,w-padding]);
     var yScale = d3.scale.linear()
                    .domain([0,6])
                    .range([h-padding,padding]);
     svg.selectAll("circle")
        .data(data)
        .enter()
        .append("circle")
        .attr("cx", function(d) {
           return xScale(d.malty);
           })
        .attr("cy", function(d) {
           return yScale(d.hoppy);
           })
        .attr("r", function(d) {
           return d.crisp;
           })
        .attr("fill", function(d) {
           return d.color;
           });
     var xAxis = d3.svg.axis()
                       .scale(xScale)
                       .orient("bottom");
     var yAxis = d3.svg.axis()
                       .scale(yScale)
                       .orient("left")
                       .ticks(5);
     svg.append("g")
        .attr("class", "axis")
        .attr("transform", "translate(0," + (h-padding) + ")")
        .call(xAxis);
     svg.append("g")
        .attr("class", "axis")
        .attr("transform", "translate(" + padding + ",0)")
        .call(yAxis);
     });

    </script>


<%= link_to "Ratings", ratings_path(@ratings) %>
<%= link_to "Beers", beers_path(@beers) %>
<%= link_to "Breweries", breweries_path(@breweries) %>
